<button type="button" class="btn btn-primary" (click)="addEmployee()">
  Add User
</button>

<div class="row" *ngIf="addnewEmployee">
  <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          formControlName="firstName"
        />
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          formControlName="lastName"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          (keypress)="numberOnly($event)"
          formControlName="phone"
        />
        <div
          *ngIf="
            employeeForm.controls.phone.touched &&
            employeeForm.controls.phone.invalid
          "
          class="alert alert-danger"
        >
          <div *ngIf="employeeForm.controls.phone.errors.required">
            Mobile Number is required.
          </div>
          <div *ngIf="employeeForm.controls.phone.errors.pattern">
            Please, Enter 10 digit Mobile Number.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="company">Company</label>
        <input
          type="text"
          class="form-control"
          id="company"
          formControlName="company"
        />
      </div>

      <div class="form-group">
        <label for="gender">Gender</label>
        <input
          type="radio"
          value="male"
          name="gender"
          formControlName="gender"
        />
        Male
        <input
          type="radio"
          value="female"
          name="gender"
          formControlName="gender"
        />
        Female
      </div>

      <div class="form-group">
        <label for="dob">DOB</label>
        <input
          type="date"
          class="form-control"
          id="dob"
          formControlName="dob"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          (change)="onPasswordChange()"
        />
        <div
          *ngIf="
            employeeForm.controls['password'].invalid &&
            (employeeForm.controls['password'].dirty ||
              employeeForm.controls['password'].touched)
          "
        >
          <div *ngIf="employeeForm.controls.password.errors">
            Password is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          formControlName="confirmPassword"
          (change)="onPasswordChange()"
        />
        <span
          *ngIf="
            confirm_password.hasError('mismatch') &&
            employeeForm.controls['confirmPassword'].touched
          "
          >Password do not match.</span
        >
      </div>

      <div class="buttonClass">
        <div class="saveBtn">
          <button class="btn btn-primary" type="submit">Register</button>
        </div>
        <div class="cancel">
          <button type="button" mat-button (click)="onNoClick()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<app-table
  (employeeData)="deleteEmployee($event)"
  (editData)="editData($event)"
></app-table>
